{% extends 'base_generic.html' %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'books' %}">Books</a></li>
        <li><a href="#">Authors</a></li>
        <li><a href="#">Publishers</a></li>
    </ul>
{% endblock %}

{% block hero %}
    <li style="background-image: url(../../../../catalog/static/images/img_bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                    <div class="slider-text-inner">
                        <div class="desc">
                            <h1>Log in</h1>
                            <h2>Built for Nerds!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endblock %}

{% block content %}
  <div class="colorlib-contact">
  <div class="colorlib-narrow-content">
    <div class="row">
      <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
        <span class="heading-meta">Do it Now</span>
        <h2 class="colorlib-heading">Log in</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-push-1">
          <div class="animate-box" data-animate-effect="fadeInLeft">
            {% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            
            {% if next %}
              {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
              {% else %}
                <p>Please login to see this page.</p>
              {% endif %}
            {% endif %}
            
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <table>
                <tr>
                  <td>{{ form.username.label_tag }}</td>
                </tr>
                <tr>
                  <td>{{ form.username }}</td>
                </tr>
                <tr>
                  <td>{{ form.password.label_tag }}</td>
                </tr>
                <tr>
                  <td>{{ form.password }}</td>
                </tr>
              </table>
              <br>
              <input type="submit" class="btn btn-primary btn-send-message" value="Log in"/>
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
            
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}