{% extends 'base_generic.html' %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'books' %}">Books</a></li>
        <li><a href="#">Authors</a></li>
        <li><a href="#">Publishers</a></li>
    </ul>
{% endblock %}

{% block hero %}
    <li style="background-image: url(../static/images/img_bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                    <div class="slider-text-inner">
                        <div class="desc">
                            <h1>Sign Up</h1>
                            <h2>Create an Account!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endblock %}

{% block content %}
  <div class="colorlib-contact">
    <div class="colorlib-narrow-content">
      <div class="row">
        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
          <span class="heading-meta">Do it Now</span>
          <h2 class="colorlib-heading">Sign up</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-push-1">
            <div class="animate-box" data-animate-effect="fadeInLeft">
              <form method="post">
                <div class="form-group">
                  {% csrf_token %}
                  {{ form.as_p }}
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-send-message" value="Sign up">
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}