.logo {
  height: 32px;
  background: url(../../commons/books.png);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: url(../../commons/library.jpg);
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

.code-box-demo p {
  margin: 0;
}
.ant-card { margin-bottom: 15px; }

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  background: #FFF;
}